In [46]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/Consumo_cerveja.csv', 
                 decimal=',', 
                 thousands='.', 
                 header=0, 
                 names=['date','median_temp','min_temp','max_temp','precip','weekend','consumption'], 
                 parse_dates=['date'], 
                 nrows=365)

# Mapping

In [47]:
season = {
    "winter": [12, 1, 2],
    "spring": [3, 4, 5],
    "summer": [6, 7, 8],
    "autumn": [9, 10,11]
}

In [48]:
season_map = {i: k
              for k, v in season.items()
              for i in v
             }
season_map

{12: 'winter',
 1: 'winter',
 2: 'winter',
 3: 'spring',
 4: 'spring',
 5: 'spring',
 6: 'summer',
 7: 'summer',
 8: 'summer',
 9: 'autumn',
 10: 'autumn',
 11: 'autumn'}

In [49]:
df['season'] = df.date.dt.month.map(season_map)

In [50]:
df.season.value_counts()

summer    92
spring    92
autumn    91
winter    90
Name: season, dtype: int64

# Where

In [52]:
df['consumption_bin'] = np.where(df.consumption < 25000, 'low', 'high')
df

,date,median_temp,min_temp,max_temp,precip,weekend,consumption,season,consumption_bin
0,2015-01-01,27.30,23.9,32.5,0.0,0,25461,winter,high
1,2015-01-02,27.02,24.5,33.5,0.0,0,28972,winter,high
2,2015-01-03,24.82,22.4,29.9,0.0,1,30814,winter,high
3,2015-01-04,23.98,21.5,28.6,1.2,1,29799,winter,high
4,2015-01-05,23.82,21.0,28.3,0.0,0,28900,winter,high
5,2015-01-06,23.78,20.1,30.5,12.2,0,28218,winter,high
6,2015-01-07,24.00,19.5,33.7,0.0,0,29732,winter,high
7,2015-01-08,24.90,19.5,32.8,48.6,0,28397,winter,high
8,2015-01-09,28.20,21.9,34.0,4.4,0,24886,winter,low
9,2015-01-10,26.76,22.1,34.2,0.0,1,37937,winter,high
10,2015-01-11,27.62,22.2,34.8,3.4,1,36254,winter,high
11,2015-01-12,25.96,21.4,35.4,0.0,0,25743,winter,high
12,2015-01-13,25.52,21.2,34.8,0.8,0,26990,winter,high
13,2015-01-14,25.96,21.3,34.0,1.6,0,31825,winter,high
14,2015-01-15,25.86,21.5,32.8,3.0,0,25724,winter,high
15,2015-01-16,26.50,22.3,32.7,2.0,0,29938,winter,high
16,2015-01-17,28.86,22.0,35.8,0.0,1,37690,winter,high
17,2015-01-18,28.26,23.4,35.6,0.0,1,30524,winter,high
18,2015-01-19,28.22,22.7,36.5,3.7,0,29265,winter,high
19,2015-01-20,27.68,23.3,35.6,0.6,0,35127,winter,high
20,2015-01-21,25.32,22.7,30.9,0.0,0,29130,winter,high
21,2015-01-22,21.74,19.2,26.1,31.0,0,25795,winter,high
22,2015-01-23,21.04,18.5,26.1,3.6,0,21784,winter,low
23,2015-01-24,23.12,19.0,29.4,13.0,1,28348,winter,high
24,2015-01-25,24.40,18.1,30.0,0.0,1,31088,winter,high
25,2015-01-26,22.40,18.9,28.7,20.8,0,21520,winter,low
26,2015-01-27,23.60,20.5,28.7,1.2,0,29972,winter,high
27,2015-01-28,25.68,20.1,29.9,4.9,0,22603,winter,low
28,2015-01-29,25.00,21.5,29.2,0.0,0,22696,winter,low
29,2015-01-30,22.80,20.9,26.9,0.0,0,26845,winter,high
...,...,...,...,...,...,...,...,...,...
335,2015-12-02,22.10,18.2,29.4,0.0,0,30471,winter,high
336,2015-12-03,22.44,20.2,26.1,0.0,0,28405,winter,high
337,2015-12-04,22.76,19.0,29.1,0.0,0,29513,winter,high
338,2015-12-05,24.80,19.5,30.6,0.1,1,32451,winter,high
339,2015-12-06,23.12,20.6,28.0,0.1,1,32780,winter,high
340,2015-12-07,20.04,18.0,23.9,47.8,0,23375,winter,low
341,2015-12-08,21.70,18.0,28.0,0.0,0,27713,winter,high
342,2015-12-09,23.96,19.6,27.9,0.0,0,27137,winter,high
343,2015-12-10,24.00,22.2,27.7,0.0,0,22933,winter,low
344,2015-12-11,24.04,20.7,30.3,0.0,0,30740,winter,high
345,2015-12-12,23.92,20.6,30.8,0.0,1,29579,winter,high
346,2015-12-13,24.54,19.3,31.0,12.2,1,29188,winter,high
347,2015-12-14,26.28,21.1,32.5,2.0,0,28131,winter,high
348,2015-12-15,25.66,20.6,32.8,4.0,0,28617,winter,high
349,2015-12-16,22.04,20.7,24.8,1.5,0,21062,winter,low
350,2015-12-17,23.32,18.9,28.7,0.0,0,24337,winter,low
351,2015-12-18,26.42,19.6,33.5,0.1,0,27042,winter,high
352,2015-12-19,23.74,19.8,31.3,1.3,1,32536,winter,high
353,2015-12-20,22.84,19.6,29.0,8.4,1,30127,winter,high
354,2015-12-21,23.12,19.6,29.1,27.2,0,24834,winter,low
355,2015-12-22,24.60,19.6,32.4,43.0,0,26828,winter,high
356,2015-12-23,27.46,22.1,32.4,3.0,0,26468,winter,high
357,2015-12-24,24.72,20.5,31.5,3.4,0,31572,winter,high
358,2015-12-25,23.58,17.8,31.0,39.0,0,26308,winter,high
359,2015-12-26,23.34,17.8,29.8,94.8,1,21955,winter,low
360,2015-12-27,24.00,21.1,28.2,13.6,1,32307,winter,high
361,2015-12-28,22.64,21.1,26.7,0.0,0,26095,winter,high
362,2015-12-29,21.68,20.3,24.1,10.3,0,22309,winter,low
363,2015-12-30,21.38,19.3,22.4,6.3,0,20467,winter,low
364,2015-12-31,24.76,20.2,29.0,0.0,0,22446,winter,low

In [61]:
pd.cut(df.consumption, bins=2, labels=['low', 'high'])

0       low
1      high
2      high
3      high
4      high
5      high
6      high
7      high
8       low
9      high
10     high
11      low
12     high
13     high
14      low
15     high
16     high
17     high
18     high
19     high
20     high
21      low
22      low
23     high
24     high
25      low
26     high
27      low
28      low
29     high
       ...
335    high
336    high
337    high
338    high
339    high
340     low
341    high
342    high
343     low
344    high
345    high
346    high
347    high
348    high
349     low
350     low
351    high
352    high
353    high
354     low
355    high
356    high
357    high
358    high
359     low
360    high
361     low
362     low
363     low
364     low
Name: consumption, Length: 365, dtype: category
Categories (2, object): [low < high]

In [64]:
df['consumption_group'] = pd.qcut(df.consumption, q=3, labels=['low', 'medium', 'high'])

get_dummies

In [67]:
pd.get_dummies(df)

,date,median_temp,min_temp,max_temp,precip,weekend,consumption,season_autumn,season_spring,season_summer,season_winter,consumption_bin_high,consumption_bin_low,consumption_group_low,consumption_group_medium,consumption_group_high
0,2015-01-01,27.30,23.9,32.5,0.0,0,25461,0,0,0,1,1,0,0,1,0
1,2015-01-02,27.02,24.5,33.5,0.0,0,28972,0,0,0,1,1,0,0,0,1
2,2015-01-03,24.82,22.4,29.9,0.0,1,30814,0,0,0,1,1,0,0,0,1
3,2015-01-04,23.98,21.5,28.6,1.2,1,29799,0,0,0,1,1,0,0,0,1
4,2015-01-05,23.82,21.0,28.3,0.0,0,28900,0,0,0,1,1,0,0,0,1
5,2015-01-06,23.78,20.1,30.5,12.2,0,28218,0,0,0,1,1,0,0,0,1
6,2015-01-07,24.00,19.5,33.7,0.0,0,29732,0,0,0,1,1,0,0,0,1
7,2015-01-08,24.90,19.5,32.8,48.6,0,28397,0,0,0,1,1,0,0,0,1
8,2015-01-09,28.20,21.9,34.0,4.4,0,24886,0,0,0,1,0,1,0,1,0
9,2015-01-10,26.76,22.1,34.2,0.0,1,37937,0,0,0,1,1,0,0,0,1
10,2015-01-11,27.62,22.2,34.8,3.4,1,36254,0,0,0,1,1,0,0,0,1
11,2015-01-12,25.96,21.4,35.4,0.0,0,25743,0,0,0,1,1,0,0,1,0
12,2015-01-13,25.52,21.2,34.8,0.8,0,26990,0,0,0,1,1,0,0,1,0
13,2015-01-14,25.96,21.3,34.0,1.6,0,31825,0,0,0,1,1,0,0,0,1
14,2015-01-15,25.86,21.5,32.8,3.0,0,25724,0,0,0,1,1,0,0,1,0
15,2015-01-16,26.50,22.3,32.7,2.0,0,29938,0,0,0,1,1,0,0,0,1
16,2015-01-17,28.86,22.0,35.8,0.0,1,37690,0,0,0,1,1,0,0,0,1
17,2015-01-18,28.26,23.4,35.6,0.0,1,30524,0,0,0,1,1,0,0,0,1
18,2015-01-19,28.22,22.7,36.5,3.7,0,29265,0,0,0,1,1,0,0,0,1
19,2015-01-20,27.68,23.3,35.6,0.6,0,35127,0,0,0,1,1,0,0,0,1
20,2015-01-21,25.32,22.7,30.9,0.0,0,29130,0,0,0,1,1,0,0,0,1
21,2015-01-22,21.74,19.2,26.1,31.0,0,25795,0,0,0,1,1,0,0,1,0
22,2015-01-23,21.04,18.5,26.1,3.6,0,21784,0,0,0,1,0,1,1,0,0
23,2015-01-24,23.12,19.0,29.4,13.0,1,28348,0,0,0,1,1,0,0,0,1
24,2015-01-25,24.40,18.1,30.0,0.0,1,31088,0,0,0,1,1,0,0,0,1
25,2015-01-26,22.40,18.9,28.7,20.8,0,21520,0,0,0,1,0,1,1,0,0
26,2015-01-27,23.60,20.5,28.7,1.2,0,29972,0,0,0,1,1,0,0,0,1
27,2015-01-28,25.68,20.1,29.9,4.9,0,22603,0,0,0,1,0,1,1,0,0
28,2015-01-29,25.00,21.5,29.2,0.0,0,22696,0,0,0,1,0,1,1,0,0
29,2015-01-30,22.80,20.9,26.9,0.0,0,26845,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2015-12-02,22.10,18.2,29.4,0.0,0,30471,0,0,0,1,1,0,0,0,1
336,2015-12-03,22.44,20.2,26.1,0.0,0,28405,0,0,0,1,1,0,0,0,1
337,2015-12-04,22.76,19.0,29.1,0.0,0,29513,0,0,0,1,1,0,0,0,1
338,2015-12-05,24.80,19.5,30.6,0.1,1,32451,0,0,0,1,1,0,0,0,1
339,2015-12-06,23.12,20.6,28.0,0.1,1,32780,0,0,0,1,1,0,0,0,1
340,2015-12-07,20.04,18.0,23.9,47.8,0,23375,0,0,0,1,0,1,0,1,0
341,2015-12-08,21.70,18.0,28.0,0.0,0,27713,0,0,0,1,1,0,0,0,1
342,2015-12-09,23.96,19.6,27.9,0.0,0,27137,0,0,0,1,1,0,0,0,1
343,2015-12-10,24.00,22.2,27.7,0.0,0,22933,0,0,0,1,0,1,1,0,0
344,2015-12-11,24.04,20.7,30.3,0.0,0,30740,0,0,0,1,1,0,0,0,1
345,2015-12-12,23.92,20.6,30.8,0.0,1,29579,0,0,0,1,1,0,0,0,1
346,2015-12-13,24.54,19.3,31.0,12.2,1,29188,0,0,0,1,1,0,0,0,1
347,2015-12-14,26.28,21.1,32.5,2.0,0,28131,0,0,0,1,1,0,0,0,1
348,2015-12-15,25.66,20.6,32.8,4.0,0,28617,0,0,0,1,1,0,0,0,1
349,2015-12-16,22.04,20.7,24.8,1.5,0,21062,0,0,0,1,0,1,1,0,0
350,2015-12-17,23.32,18.9,28.7,0.0,0,24337,0,0,0,1,0,1,0,1,0
351,2015-12-18,26.42,19.6,33.5,0.1,0,27042,0,0,0,1,1,0,0,1,0
352,2015-12-19,23.74,19.8,31.3,1.3,1,32536,0,0,0,1,1,0,0,0,1
353,2015-12-20,22.84,19.6,29.0,8.4,1,30127,0,0,0,1,1,0,0,0,1
354,2015-12-21,23.12,19.6,29.1,27.2,0,24834,0,0,0,1,0,1,0,1,0
355,2015-12-22,24.60,19.6,32.4,43.0,0,26828,0,0,0,1,1,0,0,1,0
356,2015-12-23,27.46,22.1,32.4,3.0,0,26468,0,0,0,1,1,0,0,1,0
357,2015-12-24,24.72,20.5,31.5,3.4,0,31572,0,0,0,1,1,0,0,0,1
358,2015-12-25,23.58,17.8,31.0,39.0,0,26308,0,0,0,1,1,0,0,1,0
359,2015-12-26,23.34,17.8,29.8,94.8,1,21955,0,0,0,1,0,1,1,0,0
360,2015-12-27,24.00,21.1,28.2,13.6,1,32307,0,0,0,1,1,0,0,0,1
361,2015-12-28,22.64,21.1,26.7,0.0,0,26095,0,0,0,1,1,0,0,1,0
362,2015-12-29,21.68,20.3,24.1,10.3,0,22309,0,0,0,1,0,1,1,0,0
363,2015-12-30,21.38,19.3,22.4,6.3,0,20467,0,0,0,1,0,1,1,0,0
364,2015-12-31,24.76,20.2,29.0,0.0,0,22446,0,0,0,1,0,1,1,0,0

In [69]:
pd.get_dummies(df, drop_first=True, columns=['season', 'consumption_group'])

,date,median_temp,min_temp,max_temp,precip,weekend,consumption,consumption_bin,season_spring,season_summer,season_winter,consumption_group_medium,consumption_group_high
0,2015-01-01,27.30,23.9,32.5,0.0,0,25461,high,0,0,1,1,0
1,2015-01-02,27.02,24.5,33.5,0.0,0,28972,high,0,0,1,0,1
2,2015-01-03,24.82,22.4,29.9,0.0,1,30814,high,0,0,1,0,1
3,2015-01-04,23.98,21.5,28.6,1.2,1,29799,high,0,0,1,0,1
4,2015-01-05,23.82,21.0,28.3,0.0,0,28900,high,0,0,1,0,1
5,2015-01-06,23.78,20.1,30.5,12.2,0,28218,high,0,0,1,0,1
6,2015-01-07,24.00,19.5,33.7,0.0,0,29732,high,0,0,1,0,1
7,2015-01-08,24.90,19.5,32.8,48.6,0,28397,high,0,0,1,0,1
8,2015-01-09,28.20,21.9,34.0,4.4,0,24886,low,0,0,1,1,0
9,2015-01-10,26.76,22.1,34.2,0.0,1,37937,high,0,0,1,0,1
10,2015-01-11,27.62,22.2,34.8,3.4,1,36254,high,0,0,1,0,1
11,2015-01-12,25.96,21.4,35.4,0.0,0,25743,high,0,0,1,1,0
12,2015-01-13,25.52,21.2,34.8,0.8,0,26990,high,0,0,1,1,0
13,2015-01-14,25.96,21.3,34.0,1.6,0,31825,high,0,0,1,0,1
14,2015-01-15,25.86,21.5,32.8,3.0,0,25724,high,0,0,1,1,0
15,2015-01-16,26.50,22.3,32.7,2.0,0,29938,high,0,0,1,0,1
16,2015-01-17,28.86,22.0,35.8,0.0,1,37690,high,0,0,1,0,1
17,2015-01-18,28.26,23.4,35.6,0.0,1,30524,high,0,0,1,0,1
18,2015-01-19,28.22,22.7,36.5,3.7,0,29265,high,0,0,1,0,1
19,2015-01-20,27.68,23.3,35.6,0.6,0,35127,high,0,0,1,0,1
20,2015-01-21,25.32,22.7,30.9,0.0,0,29130,high,0,0,1,0,1
21,2015-01-22,21.74,19.2,26.1,31.0,0,25795,high,0,0,1,1,0
22,2015-01-23,21.04,18.5,26.1,3.6,0,21784,low,0,0,1,0,0
23,2015-01-24,23.12,19.0,29.4,13.0,1,28348,high,0,0,1,0,1
24,2015-01-25,24.40,18.1,30.0,0.0,1,31088,high,0,0,1,0,1
25,2015-01-26,22.40,18.9,28.7,20.8,0,21520,low,0,0,1,0,0
26,2015-01-27,23.60,20.5,28.7,1.2,0,29972,high,0,0,1,0,1
27,2015-01-28,25.68,20.1,29.9,4.9,0,22603,low,0,0,1,0,0
28,2015-01-29,25.00,21.5,29.2,0.0,0,22696,low,0,0,1,0,0
29,2015-01-30,22.80,20.9,26.9,0.0,0,26845,high,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2015-12-02,22.10,18.2,29.4,0.0,0,30471,high,0,0,1,0,1
336,2015-12-03,22.44,20.2,26.1,0.0,0,28405,high,0,0,1,0,1
337,2015-12-04,22.76,19.0,29.1,0.0,0,29513,high,0,0,1,0,1
338,2015-12-05,24.80,19.5,30.6,0.1,1,32451,high,0,0,1,0,1
339,2015-12-06,23.12,20.6,28.0,0.1,1,32780,high,0,0,1,0,1
340,2015-12-07,20.04,18.0,23.9,47.8,0,23375,low,0,0,1,1,0
341,2015-12-08,21.70,18.0,28.0,0.0,0,27713,high,0,0,1,0,1
342,2015-12-09,23.96,19.6,27.9,0.0,0,27137,high,0,0,1,0,1
343,2015-12-10,24.00,22.2,27.7,0.0,0,22933,low,0,0,1,0,0
344,2015-12-11,24.04,20.7,30.3,0.0,0,30740,high,0,0,1,0,1
345,2015-12-12,23.92,20.6,30.8,0.0,1,29579,high,0,0,1,0,1
346,2015-12-13,24.54,19.3,31.0,12.2,1,29188,high,0,0,1,0,1
347,2015-12-14,26.28,21.1,32.5,2.0,0,28131,high,0,0,1,0,1
348,2015-12-15,25.66,20.6,32.8,4.0,0,28617,high,0,0,1,0,1
349,2015-12-16,22.04,20.7,24.8,1.5,0,21062,low,0,0,1,0,0
350,2015-12-17,23.32,18.9,28.7,0.0,0,24337,low,0,0,1,1,0
351,2015-12-18,26.42,19.6,33.5,0.1,0,27042,high,0,0,1,1,0
352,2015-12-19,23.74,19.8,31.3,1.3,1,32536,high,0,0,1,0,1
353,2015-12-20,22.84,19.6,29.0,8.4,1,30127,high,0,0,1,0,1
354,2015-12-21,23.12,19.6,29.1,27.2,0,24834,low,0,0,1,1,0
355,2015-12-22,24.60,19.6,32.4,43.0,0,26828,high,0,0,1,1,0
356,2015-12-23,27.46,22.1,32.4,3.0,0,26468,high,0,0,1,1,0
357,2015-12-24,24.72,20.5,31.5,3.4,0,31572,high,0,0,1,0,1
358,2015-12-25,23.58,17.8,31.0,39.0,0,26308,high,0,0,1,1,0
359,2015-12-26,23.34,17.8,29.8,94.8,1,21955,low,0,0,1,0,0
360,2015-12-27,24.00,21.1,28.2,13.6,1,32307,high,0,0,1,0,1
361,2015-12-28,22.64,21.1,26.7,0.0,0,26095,high,0,0,1,1,0
362,2015-12-29,21.68,20.3,24.1,10.3,0,22309,low,0,0,1,0,0
363,2015-12-30,21.38,19.3,22.4,6.3,0,20467,low,0,0,1,0,0
364,2015-12-31,24.76,20.2,29.0,0.0,0,22446,low,0,0,1,0,0

In [74]:
df.consumption.diff()

0          NaN
1       3511.0
2       1842.0
3      -1015.0
4       -899.0
5       -682.0
6       1514.0
7      -1335.0
8      -3511.0
9      13051.0
10     -1683.0
11    -10511.0
12      1247.0
13      4835.0
14     -6101.0
15      4214.0
16      7752.0
17     -7166.0
18     -1259.0
19      5862.0
20     -5997.0
21     -3335.0
22     -4011.0
23      6564.0
24      2740.0
25     -9568.0
26      8452.0
27     -7369.0
28        93.0
29      4149.0
        ...
335     5942.0
336    -2066.0
337     1108.0
338     2938.0
339      329.0
340    -9405.0
341     4338.0
342     -576.0
343    -4204.0
344     7807.0
345    -1161.0
346     -391.0
347    -1057.0
348      486.0
349    -7555.0
350     3275.0
351     2705.0
352     5494.0
353    -2409.0
354    -5293.0
355     1994.0
356     -360.0
357     5104.0
358    -5264.0
359    -4353.0
360    10352.0
361    -6212.0
362    -3786.0
363    -1842.0
364     1979.0
Name: consumption, Length: 365, dtype: float64

In [73]:
df.consumption.pct_change(periods=7)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7      0.115314
8     -0.141033
9      0.231161
10     0.216618
11    -0.109239
12    -0.043518
13     0.070396
14    -0.094130
15     0.203006
16    -0.006511
17    -0.158052
18     0.136814
19     0.301482
20    -0.084682
21     0.002760
22    -0.272363
23    -0.247864
24     0.018477
25    -0.264651
26    -0.146753
27    -0.224065
28    -0.120140
29     0.232326
         ...
335    0.213066
336    0.123393
337    0.018427
338   -0.056163
339    0.070647
340    0.155005
341    0.129806
342   -0.109416
343   -0.192642
344    0.041575
345   -0.088503
346   -0.109579
347    0.203465
348    0.032620
349   -0.223864
350    0.061222
351   -0.120299
352    0.099970
353    0.032171
354   -0.117202
355   -0.062515
356    0.256671
357    0.297284
358   -0.027143
359   -0.325209
360    0.072360
361    0.050777
362   -0.168443
363   -0.226727
364   -0.289054
Name: consumption, Length: 365, dtype: float64

In [82]:
df.shift(1)

,date,median_temp,min_temp,max_temp,precip,weekend,consumption,season,consumption_bin,consumption_group
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,27.30,23.9,32.5,0.0,0.0,25461.0,winter,high,medium
2,2015-01-02,27.02,24.5,33.5,0.0,0.0,28972.0,winter,high,high
3,2015-01-03,24.82,22.4,29.9,0.0,1.0,30814.0,winter,high,high
4,2015-01-04,23.98,21.5,28.6,1.2,1.0,29799.0,winter,high,high
5,2015-01-05,23.82,21.0,28.3,0.0,0.0,28900.0,winter,high,high
6,2015-01-06,23.78,20.1,30.5,12.2,0.0,28218.0,winter,high,high
7,2015-01-07,24.00,19.5,33.7,0.0,0.0,29732.0,winter,high,high
8,2015-01-08,24.90,19.5,32.8,48.6,0.0,28397.0,winter,high,high
9,2015-01-09,28.20,21.9,34.0,4.4,0.0,24886.0,winter,low,medium
10,2015-01-10,26.76,22.1,34.2,0.0,1.0,37937.0,winter,high,high
11,2015-01-11,27.62,22.2,34.8,3.4,1.0,36254.0,winter,high,high
12,2015-01-12,25.96,21.4,35.4,0.0,0.0,25743.0,winter,high,medium
13,2015-01-13,25.52,21.2,34.8,0.8,0.0,26990.0,winter,high,medium
14,2015-01-14,25.96,21.3,34.0,1.6,0.0,31825.0,winter,high,high
15,2015-01-15,25.86,21.5,32.8,3.0,0.0,25724.0,winter,high,medium
16,2015-01-16,26.50,22.3,32.7,2.0,0.0,29938.0,winter,high,high
17,2015-01-17,28.86,22.0,35.8,0.0,1.0,37690.0,winter,high,high
18,2015-01-18,28.26,23.4,35.6,0.0,1.0,30524.0,winter,high,high
19,2015-01-19,28.22,22.7,36.5,3.7,0.0,29265.0,winter,high,high
20,2015-01-20,27.68,23.3,35.6,0.6,0.0,35127.0,winter,high,high
21,2015-01-21,25.32,22.7,30.9,0.0,0.0,29130.0,winter,high,high
22,2015-01-22,21.74,19.2,26.1,31.0,0.0,25795.0,winter,high,medium
23,2015-01-23,21.04,18.5,26.1,3.6,0.0,21784.0,winter,low,low
24,2015-01-24,23.12,19.0,29.4,13.0,1.0,28348.0,winter,high,high
25,2015-01-25,24.40,18.1,30.0,0.0,1.0,31088.0,winter,high,high
26,2015-01-26,22.40,18.9,28.7,20.8,0.0,21520.0,winter,low,low
27,2015-01-27,23.60,20.5,28.7,1.2,0.0,29972.0,winter,high,high
28,2015-01-28,25.68,20.1,29.9,4.9,0.0,22603.0,winter,low,low
29,2015-01-29,25.00,21.5,29.2,0.0,0.0,22696.0,winter,low,low
...,...,...,...,...,...,...,...,...,...,...
335,2015-12-01,20.10,16.4,25.8,0.0,0.0,24529.0,winter,low,medium
336,2015-12-02,22.10,18.2,29.4,0.0,0.0,30471.0,winter,high,high
337,2015-12-03,22.44,20.2,26.1,0.0,0.0,28405.0,winter,high,high
338,2015-12-04,22.76,19.0,29.1,0.0,0.0,29513.0,winter,high,high
339,2015-12-05,24.80,19.5,30.6,0.1,1.0,32451.0,winter,high,high
340,2015-12-06,23.12,20.6,28.0,0.1,1.0,32780.0,winter,high,high
341,2015-12-07,20.04,18.0,23.9,47.8,0.0,23375.0,winter,low,medium
342,2015-12-08,21.70,18.0,28.0,0.0,0.0,27713.0,winter,high,high
343,2015-12-09,23.96,19.6,27.9,0.0,0.0,27137.0,winter,high,high
344,2015-12-10,24.00,22.2,27.7,0.0,0.0,22933.0,winter,low,low
345,2015-12-11,24.04,20.7,30.3,0.0,0.0,30740.0,winter,high,high
346,2015-12-12,23.92,20.6,30.8,0.0,1.0,29579.0,winter,high,high
347,2015-12-13,24.54,19.3,31.0,12.2,1.0,29188.0,winter,high,high
348,2015-12-14,26.28,21.1,32.5,2.0,0.0,28131.0,winter,high,high
349,2015-12-15,25.66,20.6,32.8,4.0,0.0,28617.0,winter,high,high
350,2015-12-16,22.04,20.7,24.8,1.5,0.0,21062.0,winter,low,low
351,2015-12-17,23.32,18.9,28.7,0.0,0.0,24337.0,winter,low,medium
352,2015-12-18,26.42,19.6,33.5,0.1,0.0,27042.0,winter,high,medium
353,2015-12-19,23.74,19.8,31.3,1.3,1.0,32536.0,winter,high,high
354,2015-12-20,22.84,19.6,29.0,8.4,1.0,30127.0,winter,high,high
355,2015-12-21,23.12,19.6,29.1,27.2,0.0,24834.0,winter,low,medium
356,2015-12-22,24.60,19.6,32.4,43.0,0.0,26828.0,winter,high,medium
357,2015-12-23,27.46,22.1,32.4,3.0,0.0,26468.0,winter,high,medium
358,2015-12-24,24.72,20.5,31.5,3.4,0.0,31572.0,winter,high,high
359,2015-12-25,23.58,17.8,31.0,39.0,0.0,26308.0,winter,high,medium
360,2015-12-26,23.34,17.8,29.8,94.8,1.0,21955.0,winter,low,low
361,2015-12-27,24.00,21.1,28.2,13.6,1.0,32307.0,winter,high,high
362,2015-12-28,22.64,21.1,26.7,0.0,0.0,26095.0,winter,high,medium
363,2015-12-29,21.68,20.3,24.1,10.3,0.0,22309.0,winter,low,low
364,2015-12-30,21.38,19.3,22.4,6.3,0.0,20467.0,winter,low,low

In [76]:
df.consumption.head()

0    25461
1    28972
2    30814
3    29799
4    28900
Name: consumption, dtype: int64

In [81]:
pd.concat([df.consumption.shift(i).rename(f't_{-i}') for i in range(5)], axis=1)

       t_0     t_-1     t_-2     t_-3     t_-4
0    25461      NaN      NaN      NaN      NaN
1    28972  25461.0      NaN      NaN      NaN
2    30814  28972.0  25461.0      NaN      NaN
3    29799  30814.0  28972.0  25461.0      NaN
4    28900  29799.0  30814.0  28972.0  25461.0
5    28218  28900.0  29799.0  30814.0  28972.0
6    29732  28218.0  28900.0  29799.0  30814.0
7    28397  29732.0  28218.0  28900.0  29799.0
8    24886  28397.0  29732.0  28218.0  28900.0
9    37937  24886.0  28397.0  29732.0  28218.0
10   36254  37937.0  24886.0  28397.0  29732.0
11   25743  36254.0  37937.0  24886.0  28397.0
12   26990  25743.0  36254.0  37937.0  24886.0
13   31825  26990.0  25743.0  36254.0  37937.0
14   25724  31825.0  26990.0  25743.0  36254.0
15   29938  25724.0  31825.0  26990.0  25743.0
16   37690  29938.0  25724.0  31825.0  26990.0
17   30524  37690.0  29938.0  25724.0  31825.0
18   29265  30524.0  37690.0  29938.0  25724.0
19   35127  29265.0  30524.0  37690.0  29938.0
20   29130  35127.0  29265.0  30524.0  37690.0
21   25795  29130.0  35127.0  29265.0  30524.0
22   21784  25795.0  29130.0  35127.0  29265.0
23   28348  21784.0  25795.0  29130.0  35127.0
24   31088  28348.0  21784.0  25795.0  29130.0
25   21520  31088.0  28348.0  21784.0  25795.0
26   29972  21520.0  31088.0  28348.0  21784.0
27   22603  29972.0  21520.0  31088.0  28348.0
28   22696  22603.0  29972.0  21520.0  31088.0
29   26845  22696.0  22603.0  29972.0  21520.0
..     ...      ...      ...      ...      ...
335  30471  24529.0  20238.0  30617.0  34382.0
336  28405  30471.0  24529.0  20238.0  30617.0
337  29513  28405.0  30471.0  24529.0  20238.0
338  32451  29513.0  28405.0  30471.0  24529.0
339  32780  32451.0  29513.0  28405.0  30471.0
340  23375  32780.0  32451.0  29513.0  28405.0
341  27713  23375.0  32780.0  32451.0  29513.0
342  27137  27713.0  23375.0  32780.0  32451.0
343  22933  27137.0  27713.0  23375.0  32780.0
344  30740  22933.0  27137.0  27713.0  23375.0
345  29579  30740.0  22933.0  27137.0  27713.0
346  29188  29579.0  30740.0  22933.0  27137.0
347  28131  29188.0  29579.0  30740.0  22933.0
348  28617  28131.0  29188.0  29579.0  30740.0
349  21062  28617.0  28131.0  29188.0  29579.0
350  24337  21062.0  28617.0  28131.0  29188.0
351  27042  24337.0  21062.0  28617.0  28131.0
352  32536  27042.0  24337.0  21062.0  28617.0
353  30127  32536.0  27042.0  24337.0  21062.0
354  24834  30127.0  32536.0  27042.0  24337.0
355  26828  24834.0  30127.0  32536.0  27042.0
356  26468  26828.0  24834.0  30127.0  32536.0
357  31572  26468.0  26828.0  24834.0  30127.0
358  26308  31572.0  26468.0  26828.0  24834.0
359  21955  26308.0  31572.0  26468.0  26828.0
360  32307  21955.0  26308.0  31572.0  26468.0
361  26095  32307.0  21955.0  26308.0  31572.0
362  22309  26095.0  32307.0  21955.0  26308.0
363  20467  22309.0  26095.0  32307.0  21955.0
364  22446  20467.0  22309.0  26095.0  32307.0

[365 rows x 5 columns]